/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require dataTables/jquery.dataTables.bootstrap
 *
 *= require_self
 *= require_tree .
 */

/*
.best_in_place {
  display: inline-block;
  height: 1.5em;
  min-width: 10em;
  background-color: rgba(240, 239, 225, 0.8);
  border-radius: 6px;
}
*/
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
}
.purr:first-letter { text-transform: uppercase; }
